<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>censo-import</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(OWNER_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>Configuration</key>
	<dict>
		<key>API_BASE_URL</key>
		<string>$(API_BASE_URL)</string>
		<key>APPROVER_URL_SCHEME</key>
		<string>${APPROVER_URL_SCHEME}</string>
		<key>APP_STORE_PRODUCT_ID</key>
		<string>${APP_STORE_PRODUCT_ID}</string>
		<key>RAYGUN_API_KEY</key>
		<string>$(RAYGUN_API_KEY)</string>
		<key>RAYGUN_ENABLED</key>
		<string>$(RAYGUN_ENABLED)</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>NO</string>
	<key>MIN_VERSION_URL</key>
	<string>$(MIN_VERSION_URL)</string>
</dict>
</plist>
